<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DawidSobierajskiProgramming</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="bannertext">Dawid Sobierajski</h1>
            <h2 class="bannertext">Programming</h2>
            <div class="navbar">
                <a href="index.html">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Projects & Codewars
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="portfolioproject.html">Personal portfolio website</a>
                    <a href="sorrynotready.html">42 python projects</a>
                    <a href="sorrynotready.html">Codewars account</a>
                  </div>
                </div>
                <a href="contactpage.html"> Contact me</a>
              </div>
        </div>
        <div id="Aboutme">
            <h3 id="aboutmeM">
                About me
            </h3>
            <p1 id="mepar1">
                Hi my name is Dawid Sobierajski I am a Polish national that has been living here in the UK for the past 10 years. I have been programming sicne the start of my university degree in computer sciene in 2018.
                <br> Since i have started programming in different languages i have come to love it more and more as i am realising how many cool things you can create in my projects drop down i have listed a few of my projects and also my CodeWars account.
            </p1>

        </div>
        <div id="myphoto">
            <div class="itemx">
                <img src="ME.jpg" alt="Photo of me" width="300" height="400">
                <p>A Photo of Myself take around mid 2020 </p>
            </div>
        </div>
        <div id="Education">
            <h3> Education</h3>
            <ul id="Education1">
                <li>
                    <div class="Edu1">
                        <h4>Thomas Tallis Secondary school</h4>
                        <br> 2010 - 2015
                        <ul class="grades">
                            <li>Mathmatics: C</li>
                            <li>English Language: C</li>
                            <li>Science: C</li>
                            <li>Additional Science: C</li>
                            <li>Religious Education: C</li>
                            <li>Ard & Design: Pass</li>
                    </ul>
                    </div>
                </li>
                <li>
                    <div class="Edu1">
                        <h4>Thomas Tallis Sixth form</h4>
                        <br> 2015 - 2017
                        <ul class="grades">
                            <li>IT: Distinction*</li>
                            <li>Business: DIstinction Disctiontion</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="Edu1">
                        <h4>Coventry university</h4>
                        <br> 2018 - ongoing
                        <ul class="grades">
                            <li>Computer Science</li>
                        </ul>
                    </div>
                </li>
            </ul>

            </ul>
        </div>
        <div class="footer">
            <p>Copyright 2021-2021 Dawid Sobierajski dawidsobierajski@gmail.com</p>
        </div>
    </body>
</html>