<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DawidSobierajskiProgramming</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="bannertext">Dawid Sobierajski</h1>
            <h2 class="bannertext">Programming</h2>
            <ul class="navbar">
                <li class="navitem"><a href="index.html">Home</a></li>
                <li class="navitem"><a href="sorrynotready.html">Projects</a></li>
                <li class="navitem"><a href="sorrynotready.html">Snake Game</a></li>
                <li class="navitem"><a href="sorrynotready.html">Contact</a></li>
            </ul>
        </div>
        <div id="Aboutme">
            <h3 id="aboutmeM">
                About me
            </h3>
            <p1 id="mepar1">
                Hi my name is Dawid Sobierajski I am a Polish national that has been living here in the UK for the past 10 years. I have been programming sicne the start of my university degree in computer sciene in 2018
            </p1>

        </div>
        <div id="myphoto">
            <img src="ME.jpg" alt="Photo of me" width="300" height="400">
        </div>
    </body>
</html>