<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page not finished</title>
        <link rel="stylesheet" href="styles.css">
        <style>
            #Sorrymain {
                margin-top: 200px;
                align-content: center;
                position: relative;
            }
            
            #sorrytext {
                font-size: large;
            }

        </style>
    </head>
    <body>
        <div class="header">
            <h1 class="bannertext">Dawid Sobierajski</h1>
            <h2 class="bannertext">Programming</h2>
            <div class="navbar">
                <a href="index.html">Home</a>
                <div class="dropdown">
                  <button class="dropbtn">Projects & Codewars
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="portfolioproject.html">Personal portfolio website</a>
                    <a href="sorrynotready.html">42 python projects</a>
                    <a href="sorrynotready.html">Codewars account</a>
                  </div>
                </div>
                <a href="contactpage.html"> Contact me</a>
              </div>
        </div>
        <div id="IntroPP">
            <h3>Personal Portfolio Website</h3>
        </div>
        <div class="footer">
            <p>Copyright 2021-2021 Dawid Sobierajski dawidsobierajski@gmail.com</p>
        </div>
    </body>
</html>