<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page not finished</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h1 class="bannertext">Dawid Sobierajski</h1>
            <h2 class="bannertext">Programming</h2>
            <ul class="navbar">
                <li class="navitem"><a href="index.html">Home</a></li>
                <li class="navitem"><a href="sorrynotready.html">Projects</a></li>
                <li class="navitem"><a href="sorrynotready.html">Snake Game</a></li>
                <li class="navitem"><a href="sorrynotready.html">Contact</a></li>
            </ul>
        </div>
        <div id="Sorrymain">
            <p1 id="sorrytext">Sorry this Page is not ready</p1>
        </div>
    </body>
</html>