h1 {
    color: blue;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 5px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: burlywood;

}

button:hover {
    background-color: orange;
}

div {
    border: 3px solid black;
    background-color: rgb(211, 191, 14);
    width: 100px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    font-family: 'Times New Roman';
    font-weight: bold;
}