.header {
    z-index: 1;
    background-color: cornflowerblue;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border: 1px solid black;
    margin-bottom: 1px;
}

.bannertext {
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navitem {
    float: left;
}

.navitem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navitem a:hover {
    background-color: rgb(15, 250, 250);
}

#Aboutme {
    
}